<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - QuizzHop</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="me" href="mailto:romain@rherault.fr">
		<link type="text/plain" rel="author" href="{{ app.request.uri }}/humans.txt"/>
		<link rel="dns-prefetch" href="{{ app.request.uri }}">
		<link rel="preconnect" href="{{ app.request.uri }}">
		<link rel="prefetch" href="{{ app.request.uri }}">
		<link rel="prerender" href="{{ app.request.uri }}">
		<meta name="description" content="{% block description %}QuizzHop: Create your own fully customizable quizzes and play as a team with your phones.{% endblock %}">
		<meta name="subject" content="QuizzHop: Create your own quizzes and play with">

		<meta name="robots" content="index,follow">
		<meta name="googlebot" content="index,follow">
		<meta name="google" content="nositelinkssearchbox">
		<meta name="google" content="notranslate">
		<meta name="subject" content="Games">
		<meta name="rating" content="Gaming">
		<meta name="referrer" content="no-referrer">
		<meta http-equiv="x-dns-prefetch-control" content="off">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ block('title') }}">
		<meta property="og:image" content="{% block image %}{% endblock %}">
		<meta property="og:site_name" content="QuizzHop">
		<meta property="og:description" content="{{ block('description') }}">
		<meta property="og:locale" content="en_US">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@romaixn">
		<meta name="twitter:url" content="{{ app.request.uri }}">
		<meta name="twitter:title" content="{{ block('title') }}">
		<meta name="twitter:description" content="{{ block('description') }}">
		<meta name="twitter:image" content="{{ block('image') }}">
		<meta name="twitter:dnt" content="on">
	</head>
	<body {{ stimulus_controller('symfony/ux-swup/swup') }} data-containers="#swup #nav #sign #sign-mobile">
		<div class="relative bg-white">
			<div class="max-w-7xl mx-auto px-4 sm:px-6">
				<div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
					<div class="flex justify-start lg:w-0 lg:flex-1">
						<a href="{{ path('home') }}">
							<span class="sr-only">QuizzHop</span>
							<img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
						</a>
					</div>
					<div class="-mr-2 -my-2 md:hidden">
						<button type="button" class="nav-button bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
							<span class="sr-only">Open menu</span>
							<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
							</svg>
						</button>
					</div>
					<nav id="nav" class="hidden md:flex space-x-10">
						<a href="{{ path('home') }}" class="text-base font-medium {{ app.request.get('_route') == 'home' ? 'text-gray-900' : 'text-gray-500' }} hover:text-gray-900">
							Home
						</a>
						<a href="" class="text-base font-medium  {{ app.request.get('_route') == 'quizz_index' ? 'text-gray-900' : 'text-gray-500' }} hover:text-gray-900">
							Quizz
						</a>
					</nav>
					<div id="sign" class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('profile') }}" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                                My account
                            </a>
                            <a href="{{ path('logout') }}" class="ml-8 whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                                Sign in
                            </a>
                            <a href="{{ path('sign-up') }}" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
                                Sign up
                            </a>
                        {% endif %}
					</div>
				</div>
			</div>

			<div id="nav-mobile" class="absolute top-0 inset-x-0 p-2 transition duration-100 ease-in transform origin-top-right opacity-0 scale-95 hidden md:hidden z-50">
				<div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
					<div class="pt-5 pb-6 px-5">
						<div class="flex items-center justify-between">
							<div>
								<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
							</div>
							<div class="-mr-2">
								<button id="nav-close" type="button" class="nav-button nav-button__close bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
									<span class="sr-only">Close menu</span>
									<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
									</svg>
								</button>
							</div>
						</div>
						<div class="mt-6">
							<nav class="grid gap-y-8 main-nav">
								<a href="{{ path('home') }}" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 main-nav__item">
									<svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
									</svg>
									<span class="ml-3 text-base font-medium text-gray-900">
										Home
									</span>
								</a>

								<a href="" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 main-nav__item">
									<svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"/>
									</svg>
									<span class="ml-3 text-base font-medium text-gray-900">
										Quizz
									</span>
								</a>
							</nav>
						</div>
					</div>
					<div id="sign-mobile" class="py-6 px-5 space-y-6">
						<div>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<a href="{{ path('profile') }}" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 main-nav__item">My account</a>
							<a href="{{ path('logout') }}" class="mt-6 w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 main-nav__item">Logout</a>
                        {% else %}
							<a href="{{ path('sign-up') }}" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 main-nav__item">
								Sign up
							</a>
							<p class="mt-6 text-center text-base font-medium text-gray-500">
								Existing customer?
								<a href="{{ path('login') }}" class="text-indigo-600 hover:text-indigo-500 main-nav__item">
									Sign in
								</a>
							</p>
                        {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<main id="swup">
            {% block body %}{% endblock %}
        </main>
			<footer class="relative bg-gray-300 pt-8 pb-6">
				<div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
					<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" version="1.1" viewbox="0 0 2560 100" x="0" y="0">
						<polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
					</svg>
				</div>
				<div class="container mx-auto px-4">
					<div class="flex flex-wrap">
						<div class="w-full lg:w-6/12 px-4">
							<h4 class="text-3xl font-semibold">Enjoy the platform!</h4>
							<h5 class="text-lg mt-0 mb-2 text-gray-700">
								Find us on any of these platforms.
							</h5>
							<div class="mt-6">
								<button class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
									<i class="flex fab fa-twitter"></i>
								</button>
								<button class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
									<i class="flex fab fa-facebook-square"></i>
								</button>
								<button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
									<i class="flex fab fa-dribbble"></i>
								</button>
								<button class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
									<i class="flex fab fa-github"></i>
								</button>
							</div>
						</div>
						<div class="w-full lg:w-6/12 px-4">
							<div class="flex flex-wrap items-top mb-6">
								<div class="w-full lg:w-4/12 px-4 ml-auto">
									<span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Useful Links</span>
									<ul class="list-unstyled">
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">About Us</a>
										</li>
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">Blog</a>
										</li>
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://github.com/Romaixn/quizzHop">Github</a>
										</li>
									</ul>
								</div>
								<div class="w-full lg:w-4/12 px-4">
									<span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Other Resources</span>
									<ul class="list-unstyled">
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">MIT License</a>
										</li>
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">Terms &amp; Conditions</a>
										</li>
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">Privacy Policy</a>
										</li>
										<li>
											<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="">Contact Us</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<hr class="my-6 border-gray-400"/>
					<div class="flex flex-wrap items-center md:justify-between justify-center">
						<div class="w-full md:w-4/12 px-4 mx-auto text-center">
							<div class="text-sm text-gray-600 font-semibold py-1">
                                Made with ❤️ by
								<a href="https://rherault.fr" class="text-gray-600 hover:text-gray-900">rherault</a>.
							</div>
						</div>
					</div>
				</div>
			</footer>
		</body>
	</html>
